.profile__user{
  display: flex;
  justify-content: space-between;
}
.profile__user-avatar{
  padding: 15px;
  background-color: #333336;
  border-radius: 0 0 5px 5px;
  text-align: center;
  margin-right: 10px;
}
.profile__user-avatar_img{
  width: 200px;
  max-width: 100%;
  min-width: 200px;
  height: 200px;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.profile-right{
  width: 100%;
  max-width: 100%;
}
.profile__user-info{
  height: 220px;
  max-height: 100%;
  padding: 15px 20px;
  background-color: #333336;
  border-radius: 0 0 5px 5px;
  margin-bottom: 10px;
}
.profile__user-top{
  padding: 5px 0;
}
.profile__user-top_name{
  font-size: 30px;
  margin-bottom: 10px;
}

.posts{
  background-color: #333336;
  border-radius: 5px;
}